$primary: #43b0f1;
$white: #ffffff;
$white-dark: #e2e2e2;
$black: #000000;
$dark-font: #222222;
$grey-dark: #474748;
$success-color: #1a9901;
$error-color: #f44336;
$font-color: #333333;
$ccn-color: #eb7c16;
$accent-color: #022741;
$accent-secondary-color: #9918f0;
$tbl-bg-color: #e8eef1;
$tbl-header-color: #022741;

.body{
    background-color:red !important;
}