.navbar-primary-nav {
    opacity: 0.9;
    padding: 20px 32px;
    border-radius: 10px;

  }
  
.navbar-primary-nav u {
    margin-right: 16px;
    color: white;
    font-size: larger;
  }